* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 3000vh;
  background-color: #000;
  font-family: 'Ciruclar Std', sans-serif;
}

img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 400px;
  pointer-events: none;
  z-index: 0;
}

.divider {
  color: #fff;
  border: 1px solid #fff;
}

nav,
footer {
  position: fixed;
  width: 100%;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  mix-blend-mode: difference;
  z-index: 2;
}

nav a:hover {
  color: #8d99ae;
}

a,
p {
  color: #fff;
  font-size: 1em;
  text-decoration: none;
}

a span {
  padding: 0 2em;
}

.links {
  display: flex;
  gap: 1.5em;
}

.links a:hover {
  color: #8d99ae;
}

nav {
  top: 0;
}

footer {
  bottom: 0;
}

footer a:hover {
  color: #8d99ae;
}

.gallery {
  position: fixed;
  width: 200%;
  height: 100%;
  left: -75%;
  overflow: hidden;
}

.item {
  position: absolute;
  top: 0;
  left: 0;
  width: 650px;
  height: 80px;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.item p {
  width: 100%;
  color: #fff;
  font-size: 42px;
  font-weight: 500;
  text-transform: uppercase;
}

.item p:hover {
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px white;
}

.item p span {
  padding: 0 20px;
  font-size: 0.5em;
}
